* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color:rgb(241, 207, 162);
}

.main-container {
    background-color: #e9967a;
    margin: auto;
    display: block;
    padding: 20px 0;
    width: 600px;
    height: 100vh;
    border: 3px solid #2f4f4f;
    border-radius: 25px;
}

.main-container h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #2f4f4f;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(41, 41, 41);
    background-color: burlywood ;
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px;
    border: 2px solid wheat;
}

