* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color:rgb(241, 207, 162);
}

.main-container {
    background-color: #e9967a;
    margin: auto;
    display: block;
    padding: 20px 0;
    width: 600px;
    height: 100vh;
    border: 3px solid #2f4f4f;
    border-radius: 25px;
}

.main-container h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #2f4f4f;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(41, 41, 41);
    background-color: burlywood ;
    padding: 10px 35px;
    border-radius: 25px;
    margin: 15px;
    border: 2px solid wheat;
}

input , button{
    display: flex;
    justify-content: center;
    margin: auto;
}

input {
    margin-top: 8rem;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 4px 10px;background-color: blanchedalmond;
}

button {
    margin-top: 2rem;
    padding: 4px;
    width: 25%;
    border: 2px solid cadetblue;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: darkcyan;
    border-bottom: 2px solid burlywood;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.7s;
}

.main-container h2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 40px;
    font-weight: 100;
    color: #008b8b;
    text-shadow: 2px 2px 40px rgb(247, 247, 247);
    text-align: center;
}