* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100,149,237);
    height: 100vh;
}

.container {
    background-color: rgb(85, 37, 95);
    display: flex;
    width: 100%;
    padding: 50px 20px;
    justify-items: center;
    height: 100vh;
}

form {
    display: block;
    background-color: rgb(100,149,237);
    margin: auto;
    padding: 35px 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 500px;
}

form h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 1.5rem;
}

input {
    border: none;
    outline: none;
    margin-bottom: 2rem;
    padding: 8px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

button {
    display: flex;
}








