* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100,149,237);
}

.container {
    
}

form {
    background-color: rgb(100, 237, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    margin: auto;

}