* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100,149,237);
}

.container {
    background-color: rgb(85, 37, 95);
    display: flex;
    width: 100%;
    padding: 50px 20px;
    justify-items: center;
}



