body{
    background-color: darkslategray;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;


}

 h1 {
    color: wheat;
    font-weight: bolder;
    display: block  ;
    font-style: oblique;
}
.row p {

    height: 100px;
    background-color: aqua;
    width: 200px;
    border-radius: 5rem;
    margin-left: 40%;
    display: block;
    box-sizing: border-box;
    font-size: 4rem;
    color: crimson;
    
}

 .row button :hover{
    color: saddlebrown;
    transform: scale(2px);
 }

.row button :hover{
    transition: calc(2px);
 }
